body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    input {
        width: 100%;
        padding: 20px ;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 4px;
        font-weight: 600;
    }

    button {
        width: 100%;
        padding: 20px; 
        background: rgb(36, 99, 194);
        color: white;
        border: none;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 4px;
        font-weight: bold;
    }
}

.result, .corner-result {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    gap: 30px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

    a {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        letter-spacing: 2px;

        &:first-child {
            background: url("../images/straight.jpg");
            background-size: contain;
        }

        &:last-child {
            background: url("../images/corner.jpg");
            background-size: 100% 100%;
        }

        &:hover {
            .items {
                opacity: 1;
            }
        }

        .items {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.452);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: .3s;
        }

    }
}

@media screen and (max-width: 630px) {
    header {
        font-size: 23px;
    }

    form {
        width: 100%;
        input {
            width: 90%;
            font-size: 15px;
        }
    }

    .result, .corner-result  {
        width: 100%;
        font-size: 18px;
    }

    .menu {
        gap: 40px;
    }
}